## Load the library

In [ ]:
## Import all relevant libraries

In [20]:
pip install geopandas

SyntaxError: invalid syntax (637081828.py, line 1)

In [ ]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler ,MinMaxScaler, RobustScaler # How to import Min Absolute Scaler 
import scipy.stats as stats

## Read the data

In [ ]:
## Load the data from your file or data source.

In [29]:
# Use raw string literals by prefixing the file path with an r character. 
#This tells Python to interpret the string as a raw string, ignoring any escape characters. 

# File paths of the CSV files
calendar_path =r'I:\Data Analytics Class\PHYTON\Project\EDA Projects\3.Airbnb Spain data\calendar.csv'
listings_path = r'I:\Data Analytics Class\PHYTON\Project\EDA Projects\3.Airbnb Spain data\listings.csv'
listings_detailed_path = r'I:\Data Analytics Class\PHYTON\Project\EDA Projects\3.Airbnb Spain data\listings_detailed.csv'
neighbourhoods_path = r'I:\Data Analytics Class\PHYTON\Project\EDA Projects\3.Airbnb Spain data\neighbourhoods.csv'
reviews_path = r'I:\Data Analytics Class\PHYTON\Project\EDA Projects\3.Airbnb Spain data\reviews.csv'
reviews_detailed_path =r'I:\Data Analytics Class\PHYTON\Project\EDA Projects\3.Airbnb Spain data\reviews_detailed.csv'
file_path =r'I:\Data Analytics Class\PHYTON\Project\EDA Projects\3.Airbnb Spain data\neighbourhoods.geojson'

In [46]:
# Read the CSV files into separate DataFrames
df1 = pd.read_csv(calendar_path,na_values=['N/A', 'NIL'])
df2 = pd.read_csv(listings_path,na_values=['N/A', 'NIL'])
df3 = pd.read_csv(listings_detailed_path,na_values=['N/A', 'NIL'])
df4 = pd.read_csv(neighbourhoods_path,na_values=['N/A', 'NIL'])
df5 = pd.read_csv(reviews_path,na_values=['N/A', 'NIL'])
df6 = pd.read_csv(reviews_detailed_path,na_values=['N/A', 'NIL'])
gdf = gpd.read_file(file_path,na_values=['N/A', 'NIL'] )

In [60]:
df1.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,167183,2021-04-15,f,$45.00,$45.00,1.0,5.0
1,6369,2021-04-15,t,$60.00,$60.00,1.0,1125.0
2,6369,2021-04-16,t,$60.00,$60.00,1.0,1125.0
3,6369,2021-04-17,t,$60.00,$60.00,1.0,1125.0
4,6369,2021-04-18,t,$60.00,$60.00,1.0,1125.0

In [57]:
df1.tail()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
7161251,49103093,2022-04-10,f,$28.00,$35.00,1.0,1125.0
7161252,49103093,2022-04-11,f,$28.00,$35.00,1.0,1125.0
7161253,49103093,2022-04-12,f,$28.00,$35.00,1.0,1125.0
7161254,49103093,2022-04-13,f,$28.00,$35.00,1.0,1125.0
7161255,49103093,2022-04-14,f,$28.00,$35.00,1.0,1125.0

In [61]:
df1.shape

(7161256, 7)

In [69]:
df1.columns

Index(['listing_id', 'date', 'available', 'price', 'adjusted_price',
       'minimum_nights', 'maximum_nights'],
      dtype='object')

In [68]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7161256 entries, 0 to 7161255
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 382.5+ MB

In [48]:
df2.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,6369,"Rooftop terrace room , ensuite bathroom",13660,Simon,Chamartín,Hispanoamérica,40.45724,-3.67688,Private room,60,1,78,2020-09-20,0.58,1,180
1,21853,Bright and airy room,83531,Abdel,Latina,Cármenes,40.40381,-3.74130,Private room,31,4,33,2018-07-15,0.42,2,364
2,23001,Apartmento Arganzuela- Madrid Rio,82175,Jesus,Arganzuela,Legazpi,40.38840,-3.69511,Entire home/apt,50,15,0,NaN,NaN,7,1
3,24805,Gran Via Studio Madrid,346366726,A,Centro,Universidad,40.42183,-3.70529,Entire home/apt,92,5,10,2020-03-01,0.13,1,72
4,26825,Single Room whith private Bathroom,114340,Agustina,Arganzuela,Legazpi,40.38975,-3.69018,Private room,26,2,149,2020-03-12,1.12,1,365

In [58]:
df2.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
19613,49185822,Habitación con TV con Netflix en Lavapiés,172011610,Belaid,Centro,Embajadores,40.40756,-3.69937,Private room,23,30,0,NaN,NaN,8,349
19614,49186179,Habitación con TV con Netflix en Gaztambide,172011610,Belaid,Chamberí,Gaztambide,40.43706,-3.71364,Private room,21,30,0,NaN,NaN,8,350
19615,49187258,Habitación con TV con Netflix en Chamberí,172011610,Belaid,Chamberí,Arapiles,40.43857,-3.70715,Private room,22,7,0,NaN,NaN,8,364
19616,49187471,Habitación con TV con Netflix en Goya,172011610,Belaid,Salamanca,Guindalera,40.43027,-3.66759,Private room,19,30,0,NaN,NaN,8,349
19617,49187791,Habitación con TV con Netflix en Chamberí,172011610,Belaid,Chamberí,Arapiles,40.43484,-3.70667,Private room,20,30,0,NaN,NaN,8,349

In [64]:
df2.shape

(19618, 16)

In [66]:
df2.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [71]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19618 entries, 0 to 19617
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              19618 non-null  int64
 1   name                            19615 non-null  object
 2   host_id                         19618 non-null  int64
 3   host_name                       19091 non-null  object
 4   neighbourhood_group             19618 non-null  object
 5   neighbourhood                   19618 non-null  object
 6   latitude                        19618 non-null  float64
 7   longitude                       19618 non-null  float64
 8   room_type                       19618 non-null  object
 9   price                           19618 non-null  int64
 10  minimum_nights                  19618 non-null  int64
 11  number_of_reviews               19618 non-null  int64
 12  last_review                     13981 non-null  object
 13  reviews_per_month               13981 non-null  float64
 14  calculated_host_listings_count  19618 non-null  int64
 15  availability_365                19618 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 2.4+ MB

In [49]:
df3.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6369,https://www.airbnb.com/rooms/6369,20210413152844,2021-04-15,"Rooftop terrace room , ensuite bathroom",Excellent connection with the AIRPORT and EXHI...,NaN,https://a0.muscache.com/pictures/683224/4cc318...,13660,https://www.airbnb.com/users/show/13660,...,10.0,10.0,10.0,NaN,f,1,0,1,0,0.58
1,21853,https://www.airbnb.com/rooms/21853,20210413152844,2021-04-16,Bright and airy room,We have a quiet and sunny room with a good vie...,We live in a leafy neighbourhood with plenty o...,https://a0.muscache.com/pictures/68483181/87bc...,83531,https://www.airbnb.com/users/show/83531,...,10.0,8.0,9.0,NaN,f,2,0,2,0,0.42
2,23001,https://www.airbnb.com/rooms/23001,20210413152844,2021-04-16,Apartmento Arganzuela- Madrid Rio,"Apartamento de tres dormitorios dobles, gran s...","Barrio Arganzuela, junto a Madrid Rio, zonas c...",https://a0.muscache.com/pictures/58e6a770-509c...,82175,https://www.airbnb.com/users/show/82175,...,NaN,NaN,NaN,NaN,f,7,6,1,0,NaN
3,24805,https://www.airbnb.com/rooms/24805,20210413152844,2021-04-15,Gran Via Studio Madrid,"Studio located 50 meters from Gran Via, next t...","The area is next to the Gran Via, so people li...",https://a0.muscache.com/pictures/miso/Hosting-...,346366726,https://www.airbnb.com/users/show/346366726,...,10.0,10.0,10.0,NaN,t,1,1,0,0,0.13
4,26825,https://www.airbnb.com/rooms/26825,20210413152844,2021-04-15,Single Room whith private Bathroom,Nice and cozy roon for one person with a priva...,"Es un barrio muy tranquilo, en una zona de Mad...",https://a0.muscache.com/pictures/149358/218d5b...,114340,https://www.airbnb.com/users/show/114340,...,9.0,9.0,9.0,NaN,f,1,0,1,0,1.12

In [63]:
df3.tail()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
19613,49185822,https://www.airbnb.com/rooms/49185822,20210413152844,2021-04-15,Habitación con TV con Netflix en Lavapiés,"*facturas incluidas (gas, electricidad, intern...",NaN,https://a0.muscache.com/pictures/59be7fbb-28b3...,172011610,https://www.airbnb.com/users/show/172011610,...,NaN,NaN,NaN,NaN,f,8,0,8,0,NaN
19614,49186179,https://www.airbnb.com/rooms/49186179,20210413152844,2021-04-16,Habitación con TV con Netflix en Gaztambide,"*facturas incluidas (gas, electricidad, intern...",NaN,https://a0.muscache.com/pictures/62d916ba-bea9...,172011610,https://www.airbnb.com/users/show/172011610,...,NaN,NaN,NaN,NaN,f,8,0,8,0,NaN
19615,49187258,https://www.airbnb.com/rooms/49187258,20210413152844,2021-04-15,Habitación con TV con Netflix en Chamberí,"*facturas incluidas (gas, electricidad, Intern...",NaN,https://a0.muscache.com/pictures/be000599-44d6...,172011610,https://www.airbnb.com/users/show/172011610,...,NaN,NaN,NaN,NaN,f,8,0,8,0,NaN
19616,49187471,https://www.airbnb.com/rooms/49187471,20210413152844,2021-04-15,Habitación con TV con Netflix en Goya,"*facturas incluidas (gas, electricidad, intern...",NaN,https://a0.muscache.com/pictures/ffbecf79-945e...,172011610,https://www.airbnb.com/users/show/172011610,...,NaN,NaN,NaN,NaN,f,8,0,8,0,NaN
19617,49187791,https://www.airbnb.com/rooms/49187791,20210413152844,2021-04-15,Habitación con TV con Netflix en Chamberí,"*facturas incluidas (gas, electricidad, intern...",NaN,https://a0.muscache.com/pictures/c750593e-5545...,172011610,https://www.airbnb.com/users/show/172011610,...,NaN,NaN,NaN,NaN,f,8,0,8,0,NaN

In [65]:
df3.shape

(19618, 74)

In [67]:
df3.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [72]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19618 entries, 0 to 19617
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            19618 non-null  int64
 1   listing_url                                   19618 non-null  object
 2   scrape_id                                     19618 non-null  int64
 3   last_scraped                                  19618 non-null  object
 4   name                                          19615 non-null  object
 5   description                                   18480 non-null  object
 6   neighborhood_overview                         11556 non-null  object
 7   picture_url                                   19617 non-null  object
 8   host_id                                       19618 non-null  int64
 9   host_url                                      19618 non-null  object
 10  host_name                                     19091 non-null  object
 11  host_since                                    19091 non-null  object
 12  host_location                                 19047 non-null  object
 13  host_about                                    9362 non-null   object
 14  host_response_time                            11141 non-null  object
 15  host_response_rate                            11141 non-null  object
 16  host_acceptance_rate                          11016 non-null  object
 17  host_is_superhost                             19091 non-null  object
 18  host_thumbnail_url                            19091 non-null  object
 19  host_picture_url                              19091 non-null  object
 20  host_neighbourhood                            12596 non-null  object
 21  host_listings_count                           19091 non-null  float64
 22  host_total_listings_count                     19091 non-null  float64
 23  host_verifications                            19091 non-null  object
 24  host_has_profile_pic                          19091 non-null  object
 25  host_identity_verified                        19091 non-null  object
 26  neighbourhood                                 11556 non-null  object
 27  neighbourhood_cleansed                        19618 non-null  object
 28  neighbourhood_group_cleansed                  19618 non-null  object
 29  latitude                                      19618 non-null  float64
 30  longitude                                     19618 non-null  float64
 31  property_type                                 19618 non-null  object
 32  room_type                                     19618 non-null  object
 33  accommodates                                  19618 non-null  int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                19589 non-null  object
 36  bedrooms                                      18123 non-null  float64
 37  beds                                          19218 non-null  float64
 38  amenities                                     19618 non-null  object
 39  price                                         19618 non-null  object
 40  minimum_nights                                19618 non-null  int64
 41  maximum_nights                                19618 non-null  int64
 42  minimum_minimum_nights                        19617 non-null  float64
 43  maximum_minimum_nights                        19617 non-null  float64
 44  minimum_maximum_nights                        19617 non-null  float64
 45  maximum_maximum_nights                        19617 non-null  float64
 46  minimum_nights_avg_ntm                        19617 non-null  float64
 47  maximum_nights_avg_ntm                        19617 non-null  float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              19618 non-null  object
 50  availability_30                               19618 non-null  int64
 51  availability_60                               19618 non-null  int64
 52  availability_90                               19618 non-null  int64
 53  availability_365                              19618 non-null  int64
 54  calendar_last_scraped                         19618 non-null  object
 55  number_of_reviews                             19618 non-null  int64
 56  number_of_reviews_ltm                         19618 non-null  int64
 57  number_of_reviews_l30d                        19618 non-null  int64
 58  first_review                                  13981 non-null  object
 59  last_review                                   13981 non-null  object
 60  review_scores_rating                          13713 non-null  float64
 61  review_scores_accuracy                        13701 non-null  float64
 62  review_scores_cleanliness                     13704 non-null  float64
 63  review_scores_checkin                         13703 non-null  float64
 64  review_scores_communication                   13703 non-null  float64
 65  review_scores_location                        13700 non-null  float64
 66  review_scores_value                           13699 non-null  float64
 67  license                                       2924 non-null   object
 68  instant_bookable                              19618 non-null  object
 69  calculated_host_listings_count                19618 non-null  int64
 70  calculated_host_listings_count_entire_homes   19618 non-null  int64
 71  calculated_host_listings_count_private_rooms  19618 non-null  int64
 72  calculated_host_listings_count_shared_rooms   19618 non-null  int64
 73  reviews_per_month                             13981 non-null  float64
dtypes: float64(22), int64(17), object(35)
memory usage: 11.1+ MB

In [50]:
df4.head()

  neighbourhood_group neighbourhood
0          Arganzuela       Acacias
1          Arganzuela        Atocha
2          Arganzuela       Chopera
3          Arganzuela      Delicias
4          Arganzuela      Imperial

In [51]:
df5.head()

   listing_id        date
0        6369  2010-03-14
1        6369  2010-03-23
2        6369  2010-04-10
3        6369  2010-04-21
4        6369  2010-04-26

In [52]:
df6.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,6369,29428,2010-03-14,84790,Nancy,Simon and Arturo have the ultimate location in...
1,6369,31018,2010-03-23,84338,David,Myself and Kristy originally planned on stayin...
2,6369,34694,2010-04-10,98655,Marion,We had a great time at Arturo and Simon's ! A ...
3,6369,37146,2010-04-21,109871,Kurt,I very much enjoyed the stay. \r\nIt's a wond...
4,6369,38168,2010-04-26,98901,Dennis,Arturo and Simon are polite and friendly hosts...

In [53]:
gdf.head()

,neighbourhood,neighbourhood_group,geometry
0,Palacio,Centro,"MULTIPOLYGON (((-3.70584 40.42030, -3.70625 40..."
1,Embajadores,Centro,"MULTIPOLYGON (((-3.70384 40.41432, -3.70277 40..."
2,Cortes,Centro,"MULTIPOLYGON (((-3.69796 40.41929, -3.69645 40..."
3,Justicia,Centro,"MULTIPOLYGON (((-3.69546 40.41898, -3.69645 40..."
4,Universidad,Centro,"MULTIPOLYGON (((-3.70107 40.42134, -3.70155 40..."

In [55]:
# Merge the DataFrames into one
merged_df = pd.concat([df1, df2, df3,df4,df5,df6,gdf])

# Display the merged DataFrame
merged_df.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,id,name,host_id,...,review_scores_value,license,instant_bookable,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviewer_id,reviewer_name,comments,geometry
0,167183.0,2021-04-15,f,$45.00,$45.00,1.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,6369.0,2021-04-15,t,$60.00,$60.00,1.0,1125.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,6369.0,2021-04-16,t,$60.00,$60.00,1.0,1125.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,6369.0,2021-04-17,t,$60.00,$60.00,1.0,1125.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,6369.0,2021-04-18,t,$60.00,$60.00,1.0,1125.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

In [ ]:
## Show first 5 rows

In [45]:
merged_df.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,id,name,host_id,...,review_scores_value,license,instant_bookable,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviewer_id,reviewer_name,comments,geometry
0,167183.0,2021-04-15,f,$45.00,$45.00,1.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6369.0,2021-04-15,t,$60.00,$60.00,1.0,1125.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6369.0,2021-04-16,t,$60.00,$60.00,1.0,1125.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6369.0,2021-04-17,t,$60.00,$60.00,1.0,1125.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6369.0,2021-04-18,t,$60.00,$60.00,1.0,1125.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
## Show last 5 rows

In [56]:
merged_df.tail()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,id,name,host_id,...,review_scores_value,license,instant_bookable,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviewer_id,reviewer_name,comments,geometry
123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-3.58243 40.46381, -3.58078 40..."
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-3.57990 40.50159, -3.58002 40..."
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-3.57786 40.51038, -3.57579 40..."
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-3.57446 40.47267, -3.57475 40..."
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-3.59957 40.46867, -3.59870 40..."

In [ ]:
## Show the info for data

In [73]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8450760 entries, 0 to 127
Data columns (total 83 columns):
 #   Column                                        Dtype
---  ------                                        -----
 0   listing_id                                    float64
 1   date                                          object
 2   available                                     object
 3   price                                         object
 4   adjusted_price                                object
 5   minimum_nights                                float64
 6   maximum_nights                                float64
 7   id                                            float64
 8   name                                          object
 9   host_id                                       float64
 10  host_name                                     object
 11  neighbourhood_group                           object
 12  neighbourhood                                 object
 13  latitude                                      float64
 14  longitude                                     float64
 15  room_type                                     object
 16  number_of_reviews                             float64
 17  last_review                                   object
 18  reviews_per_month                             float64
 19  calculated_host_listings_count                float64
 20  availability_365                              float64
 21  listing_url                                   object
 22  scrape_id                                     float64
 23  last_scraped                                  object
 24  description                                   object
 25  neighborhood_overview                         object
 26  picture_url                                   object
 27  host_url                                      object
 28  host_since                                    object
 29  host_location                                 object
 30  host_about                                    object
 31  host_response_time                            object
 32  host_response_rate                            object
 33  host_acceptance_rate                          object
 34  host_is_superhost                             object
 35  host_thumbnail_url                            object
 36  host_picture_url                              object
 37  host_neighbourhood                            object
 38  host_listings_count                           float64
 39  host_total_listings_count                     float64
 40  host_verifications                            object
 41  host_has_profile_pic                          object
 42  host_identity_verified                        object
 43  neighbourhood_cleansed                        object
 44  neighbourhood_group_cleansed                  object
 45  property_type                                 object
 46  accommodates                                  float64
 47  bathrooms                                     float64
 48  bathrooms_text                                object
 49  bedrooms                                      float64
 50  beds                                          float64
 51  amenities                                     object
 52  minimum_minimum_nights                        float64
 53  maximum_minimum_nights                        float64
 54  minimum_maximum_nights                        float64
 55  maximum_maximum_nights                        float64
 56  minimum_nights_avg_ntm                        float64
 57  maximum_nights_avg_ntm                        float64
 58  calendar_updated                              float64
 59  has_availability                              object
 60  availability_30                               float64
 61  availability_60                               float64
 62  availability_90                               float64
 63  calendar_last_scraped                         object
 64  number_of_reviews_ltm                         float64
 65  number_of_reviews_l30d                        float64
 66  first_review                                  object
 67  review_scores_rating                          float64
 68  review_scores_accuracy                        float64
 69  review_scores_cleanliness                     float64
 70  review_scores_checkin                         float64
 71  review_scores_communication                   float64
 72  review_scores_location                        float64
 73  review_scores_value                           float64
 74  license                                       object
 75  instant_bookable                              object
 76  calculated_host_listings_count_entire_homes   float64
 77  calculated_host_listings_count_private_rooms  float64
 78  calculated_host_listings_count_shared_rooms   float64
 79  reviewer_id                                   float64
 80  reviewer_name                                 object
 81  comments                                      object
 82  geometry                                      geometry
dtypes: float64(41), geometry(1), object(41)
memory usage: 5.3+ GB

In [ ]:
## Show the columns

In [75]:
merged_df.columns

Index(['listing_id', 'date', 'available', 'price', 'adjusted_price',
       'minimum_nights', 'maximum_nights', 'id', 'name', 'host_id',
       'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude',
       'longitude', 'room_type', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'listing_url', 'scrape_id', 'last_scraped',
       'description', 'neighborhood_overview', 'picture_url', 'host_url',
       'host_since', 'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_listings_count', 'host_total_listings_count',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed',
       'property_type', 'accommodates', 'bathrooms', 'bathrooms_text',
       'bedrooms', 'beds', 'amenities', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'calendar_last_scraped', 'number_of_reviews_ltm',
       'number_of_reviews_l30d', 'first_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'license',
       'instant_bookable', 'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviewer_id',
       'reviewer_name', 'comments', 'geometry'],
      dtype='object')

In [ ]:
## Show the description summary for numerical and categorical values.

In [76]:
merged_df.describe()

MemoryError: Unable to allocate 2.58 GiB for an array with shape (41, 8450760) and data type float64

# Exploratory Data Analysis

## Do Numerical Analysis of Columns

In [ ]:
#  Numerical column analysis 

#  Maximum and mimimum value mean, meadian or std deviation or variance

#  You can learn about their distribution.
# - Histogram.
#  While a histogram is made up of bars that touch each other,it shows counts of values in each range.

# - Distribution plot. 
#  While a density plot shows the proportion of values in each range, a density plot is a smooth curve 
# that shows the distribution of the data in a more continuous way

# Asymmetry 
# Skewness is a statistical measure of the asymmetry of a probability distribution. 
# It characterizes the extent to which the distribution of a set of values deviates from a normal distribution.
# If the skewness is between -0.5 & 0.5, the data are nearly symmetrical.
# If the skewness is between -1 & -0.5 (negative skewed) or between 0.5 & 1(positive skewed), the data are slightly skewed.
# If the skewness is lower than -1 (negative skewed) or greater than 1 (positive skewed), the data are extremely skewed.

# Quantile Analysis
# A quantile defines a particular part of a data set, 
# i.e. a quantile determines how many values in a distribution are above or below a certain limit.

# Analysis of extreme value
# - Box Plot
# - Violin plot

In [ ]:
## Conclude and write down your observation.

## Do Categortical  Analysis of Columns

In [ ]:
#  Categorical column analysis 
#  You can learn about their count values and their percentage.
# value_counts allows you to find the number of each category in the that column.
#  Count plot.

# find no. of unique values and what are those unique values.

#  Word cloud to create most frequently occuring words.

In [ ]:
## Conclude and write down your observation.

## Combine Numerical and categorical columns for analysis

## Add your own Questions

# Data Cleaning

## 1. Handling Duplicate data

In [ ]:
## Check shape of original data

In [ ]:
## Check shape after applying drop duplicates.

In [ ]:
## Drop duplicate values and reset your index columns.

In [ ]:
## Conslusion or what you have done for achieving this.

## 2.  Handling Missing Values

In [ ]:
## Apply isnull() function and find the sum of missing values in all columns.

In [ ]:
## Find missing value in % form.

In [ ]:
## Conclude your finding on missing values.

In [ ]:
## Drop the columns based on above analysis.

In [ ]:
## Conslusion or what you have done for achieving this.

## 3. Handling Outliers

In [ ]:
## Apply below techniques on numerical columns.

# Do box plot and violin plot to identify outliers.

# Q1 --> 25%ile of data 
#     first line of the box plot
# Q2 --> median or 50%ile of data
#     second line or middle line of the box.
# Q3 --> 75%ile of data   
#     third line or the last of the box.

# IQR --> Interquartile range.
#      distance/value between Q1 or 25%ile and Q3 or 75%ile
#     IQR = Q3-Q1
    
# minimum whisker --> Q1 - 1.5*IQR
# maximum whisker --> Q3 + 1.5*IQR

# Any value below mimimum whisker and above maximum whisker are termed as outlier.

In [ ]:
## Based on your anlysis either drop extreme values or substitute them with more acceptable value.

In [ ]:
## Conslusion or what you have done for achieving this.

## 4. Handling Categoirical Values

In [ ]:
## Idea is be to convert these string like values to number.
## Collect all Categorical column

In [ ]:
# Ordinal --> Something that shows order.
# e.g. 
# level of education.
# 10th,12th,Diploma,Graduation, Masters,Phd
# 1,2,3,4,5,6

# shopping for clothes t-shirts,
# XS,S,M,L,XL,XXL
# 1,2,3,4,5,6


# -- category encoding
# -- mapping of values to number in some order.

In [ ]:
# Nominal --> Something which doesn't show order.
# e.g.
# cities in India
# delhi,mumbai,kolkatta,pune,chennai,hyderabad,bangalore

# subject of education
# physics,mathematics,chemistry,commerce,biology,english,hindi,sanskrit

# gender of human
# male, female


# sex        sex_male , sex_female
# male          1     ,   0
# female        0     ,   1 
# male          1     ,   0
# male          1     ,   0


# -- One-hot encoding.
# by which we convert the individual values in the column to a new column
# by making available value for row as 1 and other as 0.

# different ways of applying one-hot encoding:
#     1. to apply using pandas pd.get_dummies
#     2. to is sklearn (scientic package for mode building).
    
# there is a limitation of one-hot encoding.
# Suppose there is a data which 100000 row and has a column city which 1000 unique city.

# no. of unique values in a categorical coilumn is reffered to as cardinality.
# if a caloumn has 5-7 uniques values they are reffred to as medium to low cardinality.
# if this no. increase to more than 10 then it becomes high cardinarility.

# Cardinality of nominal values values are high.
# there is a limitation of one-hot encoding.
# Suppose there is a data which 100000 row and has a column city which 1000 unique city.

# -- frequency encoding
# city     city
# pune     0.14 
# ...
# ...
# delhi    0.26
# etc.

# value_counts() 
# use frequency of how many times pune has occured 1200 or in % form.

# -- target-mean encoding
# city       survived
# pune          1 
# ...           0   
# delhi
# bangalore
# ...
# etc.

# link for different technique.
# http://contrib.scikit-learn.org/category_encoders/

In [ ]:
## Conslusion or what you have done for achieving this.

## 5 . Handling Numerical values

In [ ]:
## Whether the data is symmetrical or not.
## Plot histogram and distribution plot.

In [ ]:
## If your data is not skwed and symmetrical apply standard scaler.

In [ ]:
## Confirm the distribution patter by Plot histogram and distribution plot again.

In [ ]:
## If your data is skwed and non-symmetrical apply min-max scaler.

In [ ]:
## Confirm the distribution patter by Plot histogram and distribution plot again.

In [ ]:
## Conslusion or what you have done for achieving this.

# Model Building