## Load the library

In [1]:
## Import all relevant libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler ,MinMaxScaler, RobustScaler # How to import Min Absolute Scaler

## Read the data

In [3]:
## Load the data from your file or data source.

In [4]:
## Data Set Information:

The dataset was downloaded from the UCI Machine Learning Repository.

The two datasets are related to red and white variants of the Portuguese "Vinho Verde" wine. The reference [Cortez et al., 2009].
Due to privacy and logistic issues, only physicochemical (inputs) and sensory (the output) variables are available (e.g. there is no data about grape types, wine brand, wine selling price, etc.).

These datasets can be viewed as classification or regression tasks. 
The classes are ordered and not balanced (e.g. there are munch more normal wines than excellent or poor ones).
Outlier detection algorithms could be used to detect the few excellent or poor wines. 
Also, we are not sure if all input variables are relevant. So it could be interesting to test feature selection methods.

Two datasets were combined and few values were randomly removed.

Attribute Information:

For more information, read [Cortez et al., 2009].
Input variables (based on physicochemical tests):
1 - fixed acidity
2 - volatile acidity
3 - citric acid
4 - residual sugar
5 - chlorides
6 - free sulfur dioxide
7 - total sulfur dioxide
8 - density
9 - pH
10 - sulphates
11 - alcohol
Output variable (based on sensory data):
12 - quality (score between 0 and 10)

SyntaxError: invalid syntax (1779516620.py, line 3)

In [ ]:
df = pd.read_csv('I:/Data Analytics Class/PHYTON/Project/EDA Projects/1. Wine Quality data/winequalityN.csv',na_values=['N/A', 'NIL'])

## Above code na_values=['N/A', 'NIL'] mentions the values which are null or other Nill , None , Nan . will be included in  this data frame so we can know how many nulls values in the Data Frame

In [ ]:
## Show first 5 rows

In [ ]:
df.head()
## this code is written for to check the first five row of the data frame

In [ ]:
## Show last 5 rows
## this code is written for to check the last five row of the data frame

In [ ]:
df.tail()
## this code is written for to check the last five row of the data frame

In [ ]:


df.isnull().sum()
## these are total null values are in this data frame

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()/len(df) * 100
## This code to find the percentage of the value of data frame, 
## if percentage of null values are more then 30 % we will drop the colunme otherwise we will fill these column with median

In [ ]:
## Show the info for data

In [ ]:
df.info()
## these code show the information about the colume, for which type of data in the row of the data frame

In [ ]:

## Show the columns

In [ ]:
df.columns
## this code show the index details about data frame

In [ ]:
## Show the description summary for numerical and categorical values.

In [ ]:
df.describe()

In [ ]:
num_columns=['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality']
categorical_columns=['type']

In [ ]:
df.describe(include="O").columns

# Exploratory Data Analysis

## Do Numerical Analysis of Columns

In [ ]:
#  Numerical column analysis 

#  Maximum and mimimum value mean, meadian or std deviation or variance

#  You can learn about their distribution.
# - Histogram.
#  While a histogram is made up of bars that touch each other,it shows counts of values in each range.

# - Distribution plot. 
#  While a density plot shows the proportion of values in each range, a density plot is a smooth curve 
# that shows the distribution of the data in a more continuous way

# Asymmetry 
# Skewness is a statistical measure of the asymmetry of a probability distribution. 
# It characterizes the extent to which the distribution of a set of values deviates from a normal distribution.
# If the skewness is between -0.5 & 0.5, the data are nearly symmetrical.
# If the skewness is between -1 & -0.5 (negative skewed) or between 0.5 & 1(positive skewed), the data are slightly skewed.
# If the skewness is lower than -1 (negative skewed) or greater than 1 (positive skewed), the data are extremely skewed.

# Quantile Analysis
# A quantile defines a particular part of a data set, 
# i.e. a quantile determines how many values in a distribution are above or below a certain limit.

# Analysis of extreme value
# - Box Plot
# - Violin plot

In [ ]:
df.num_columns['fixed acidity'].mean()

In [ ]:
for col in num_columns :
    print ("_"*20,col,"_"*20)
    print("mean of :",df[col].mean())
    print("min of: ",df[col].min())
    print("max of: ",df[col].max())
    print("std of ",col,": ",df[col].std())
    print("variance  of ",col,": ",df[col].var())
    print("skewness of ",col,": ",df[col].skew())
    print ("Quantile of ",col,": ",df[col].quantile(0.10),df[col].quantile(0.25),df[col].quantile(0.50),df[col].quantile(0.75),df[col].quantile(0.90))
    print ("Null Percentage of the ",col,": ",df[col].isnull().sum()/len(col) * 100)

    plt.figure(figsize=(8,6))
    sns.histplot(df[col],color="red")
    plt.title(" Histogram Plot",x=0.1 ,y=1.03)
    plt.xlabel(col,x=.01,y=1.02)
    plt.ylabel("Frequency",y=.4) 
    plt.show()


    plt.figure(figsize=(8,6))
    sns.histplot(df[col],kde=True,element="step")
    plt.title(" Histogram Plot",x=0.1 ,y=1.03)
    plt.xlabel(col,x=.01,y=1.02)
    plt.ylabel("Frequency",y=.4) 
    plt.show()

    plt.figure(figsize=(8,4))
    # Box plot
    sns.boxplot(df[col],orient="V",color= "olive") 
    plt.title("Box plot",y=1.02, color= "red" )
    plt.xlabel(col, x=0.1,color= "purple" )
    # plt.ylabel("")
    plt.show()


    plt.figure(figsize=(8,8))
    # Violin Plot
    sns.violinplot(df[col],orient="h",color="orangered")
    sns.swarmplot(df[col],size=1,orient="h",color="lime")

    plt.title("Violin plot",x=0.2,y=1.02,color="Red" )
    plt.xlabel(col,size=10,x=0.1,color="Red")
    # plt.ylabel("")
    plt.show()

In [ ]:
## Conclude and write down your observation.

## Do Categortical  Analysis of Columns

In [ ]:
#  Categorical column analysis 
#  You can learn about their count values and their percentage.
# value_counts allows you to find the number of each category in the that column.
#  Count plot.

# find no. of unique values and what are those unique values.

#  Word cloud to create most frequently occuring words.

In [ ]:
## Conclude and write down your observation.

## Combine Numerical and categorical columns for analysis

## Add your own Questions

# Data Cleaning

## 1. Handling Duplicate data

In [ ]:
## Check shape of original data

In [ ]:
df.shape

In [ ]:
## Check shape after applying drop duplicates.

In [ ]:
df.drop_duplicates?

In [ ]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})
df

In [ ]:
## Drop duplicate values and reset your index columns.

In [ ]:
df.drop_duplicates(keep='first')

In [ ]:
## Conslusion or what you have done for achieving this.

## 2.  Handling Missing Values

In [ ]:
## Apply isnull() function and find the sum of missing values in all columns.

In [ ]:
## Find missing value in % form.

In [ ]:
## Conclude your finding on missing values.

In [ ]:
## Drop the columns based on above analysis.

In [ ]:
## Conslusion or what you have done for achieving this.

## 3. Handling Outliers

In [ ]:
## Apply below techniques on numerical columns.

# Do box plot and violin plot to identify outliers.

# Q1 --> 25%ile of data 
#     first line of the box plot
# Q2 --> median or 50%ile of data
#     second line or middle line of the box.
# Q3 --> 75%ile of data   
#     third line or the last of the box.

# IQR --> Interquartile range.
#      distance/value between Q1 or 25%ile and Q3 or 75%ile
#     IQR = Q3-Q1
    
# minimum whisker --> Q1 - 1.5*IQR
# maximum whisker --> Q3 + 1.5*IQR

# Any value below mimimum whisker and above maximum whisker are termed as outlier.

In [ ]:
## Based on your anlysis either drop extreme values or substitute them with more acceptable value.

In [ ]:
## Conslusion or what you have done for achieving this.

## 4. Handling Categoirical Values

In [ ]:
## Idea is be to convert these string like values to number.
## Collect all Categorical column

In [ ]:
# Ordinal --> Something that shows order.
# e.g. 
# level of education.
# 10th,12th,Diploma,Graduation, Masters,Phd
# 1,2,3,4,5,6

# shopping for clothes t-shirts,
# XS,S,M,L,XL,XXL
# 1,2,3,4,5,6


# -- category encoding
# -- mapping of values to number in some order.

In [ ]:
# Nominal --> Something which doesn't show order.
# e.g.
# cities in India
# delhi,mumbai,kolkatta,pune,chennai,hyderabad,bangalore

# subject of education
# physics,mathematics,chemistry,commerce,biology,english,hindi,sanskrit

# gender of human
# male, female


# sex        sex_male , sex_female
# male          1     ,   0
# female        0     ,   1 
# male          1     ,   0
# male          1     ,   0


# -- One-hot encoding.
# by which we convert the individual values in the column to a new column
# by making available value for row as 1 and other as 0.

# different ways of applying one-hot encoding:
#     1. to apply using pandas pd.get_dummies
#     2. to is sklearn (scientic package for mode building).
    
# there is a limitation of one-hot encoding.
# Suppose there is a data which 100000 row and has a column city which 1000 unique city.

# no. of unique values in a categorical coilumn is reffered to as cardinality.
# if a caloumn has 5-7 uniques values they are reffred to as medium to low cardinality.
# if this no. increase to more than 10 then it becomes high cardinarility.

# Cardinality of nominal values values are high.
# there is a limitation of one-hot encoding.
# Suppose there is a data which 100000 row and has a column city which 1000 unique city.

# -- frequency encoding
# city     city
# pune     0.14 
# ...
# ...
# delhi    0.26
# etc.

# value_counts() 
# use frequency of how many times pune has occured 1200 or in % form.

# -- target-mean encoding
# city       survived
# pune          1 
# ...           0   
# delhi
# bangalore
# ...
# etc.

# link for different technique.
# http://contrib.scikit-learn.org/category_encoders/

In [ ]:
## Conslusion or what you have done for achieving this.

## 5 . Handling Numerical values

In [ ]:
## Whether the data is symmetrical or not.
## Plot histogram and distribution plot.

In [ ]:
df.head()

In [ ]:
## If your data is not skwed and symmetrical apply standard scaler.

In [ ]:
## Confirm the distribution patter by Plot histogram and distribution plot again.

In [ ]:
## If your data is skwed and non-symmetrical apply min-max scaler.

In [ ]:
## Confirm the distribution patter by Plot histogram and distribution plot again.

In [ ]:
## Conslusion or what you have done for achieving this.

# Model Building