## Load the library

In [ ]:
## Import all relevant libraries

## Read the data

In [ ]:
## Load the data from your file or data source.

In [ ]:
## Show first 5 rows

In [ ]:
## Show last 5 rows

In [ ]:
## Show the info for data

In [ ]:
## Show the columns

In [ ]:
## Show the description summary for numerical and categorical values.

# Exploratory Data Analysis

## Do Numerical Analysis of Columns

In [ ]:
#  Numerical column analysis 

#  Maximum and mimimum value mean, meadian or std deviation or variance

#  You can learn about their distribution.
# - Histogram.
#  While a histogram is made up of bars that touch each other,it shows counts of values in each range.

# - Distribution plot. 
#  While a density plot shows the proportion of values in each range, a density plot is a smooth curve 
# that shows the distribution of the data in a more continuous way

# Asymmetry 
# Skewness is a statistical measure of the asymmetry of a probability distribution. 
# It characterizes the extent to which the distribution of a set of values deviates from a normal distribution.
# If the skewness is between -0.5 & 0.5, the data are nearly symmetrical.
# If the skewness is between -1 & -0.5 (negative skewed) or between 0.5 & 1(positive skewed), the data are slightly skewed.
# If the skewness is lower than -1 (negative skewed) or greater than 1 (positive skewed), the data are extremely skewed.

# Quantile Analysis
# A quantile defines a particular part of a data set, 
# i.e. a quantile determines how many values in a distribution are above or below a certain limit.

# Analysis of extreme value
# - Box Plot
# - Violin plot

In [ ]:
## Conclude and write down your observation.

## Do Categortical  Analysis of Columns

In [ ]:
#  Categorical column analysis 
#  You can learn about their count values and their percentage.
# value_counts allows you to find the number of each category in the that column.
#  Count plot.

# find no. of unique values and what are those unique values.

#  Word cloud to create most frequently occuring words.

In [ ]:
## Conclude and write down your observation.

## Combine Numerical and categorical columns for analysis

## Add your own Questions

# Data Cleaning

## 1. Handling Duplicate data

In [ ]:
## Check shape of original data

In [ ]:
## Check shape after applying drop duplicates.

In [ ]:
## Drop duplicate values and reset your index columns.

In [ ]:
## Conslusion or what you have done for achieving this.

## 2.  Handling Missing Values

In [ ]:
## Apply isnull() function and find the sum of missing values in all columns.

In [ ]:
## Find missing value in % form.

In [ ]:
## Conclude your finding on missing values.

In [ ]:
## Drop the columns based on above analysis.

In [ ]:
## Conslusion or what you have done for achieving this.

## 3. Handling Outliers

In [ ]:
## Apply below techniques on numerical columns.

# Do box plot and violin plot to identify outliers.

# Q1 --> 25%ile of data 
#     first line of the box plot
# Q2 --> median or 50%ile of data
#     second line or middle line of the box.
# Q3 --> 75%ile of data   
#     third line or the last of the box.

# IQR --> Interquartile range.
#      distance/value between Q1 or 25%ile and Q3 or 75%ile
#     IQR = Q3-Q1
    
# minimum whisker --> Q1 - 1.5*IQR
# maximum whisker --> Q3 + 1.5*IQR

# Any value below mimimum whisker and above maximum whisker are termed as outlier.

In [ ]:
## Based on your anlysis either drop extreme values or substitute them with more acceptable value.

In [ ]:
## Conslusion or what you have done for achieving this.

## 4. Handling Categoirical Values

In [ ]:
## Idea is be to convert these string like values to number.
## Collect all Categorical column

In [ ]:
# Ordinal --> Something that shows order.
# e.g. 
# level of education.
# 10th,12th,Diploma,Graduation, Masters,Phd
# 1,2,3,4,5,6

# shopping for clothes t-shirts,
# XS,S,M,L,XL,XXL
# 1,2,3,4,5,6


# -- category encoding
# -- mapping of values to number in some order.

In [ ]:
# Nominal --> Something which doesn't show order.
# e.g.
# cities in India
# delhi,mumbai,kolkatta,pune,chennai,hyderabad,bangalore

# subject of education
# physics,mathematics,chemistry,commerce,biology,english,hindi,sanskrit

# gender of human
# male, female


# sex        sex_male , sex_female
# male          1     ,   0
# female        0     ,   1 
# male          1     ,   0
# male          1     ,   0


# -- One-hot encoding.
# by which we convert the individual values in the column to a new column
# by making available value for row as 1 and other as 0.

# different ways of applying one-hot encoding:
#     1. to apply using pandas pd.get_dummies
#     2. to is sklearn (scientic package for mode building).
    
# there is a limitation of one-hot encoding.
# Suppose there is a data which 100000 row and has a column city which 1000 unique city.

# no. of unique values in a categorical coilumn is reffered to as cardinality.
# if a caloumn has 5-7 uniques values they are reffred to as medium to low cardinality.
# if this no. increase to more than 10 then it becomes high cardinarility.

# Cardinality of nominal values values are high.
# there is a limitation of one-hot encoding.
# Suppose there is a data which 100000 row and has a column city which 1000 unique city.

# -- frequency encoding
# city     city
# pune     0.14 
# ...
# ...
# delhi    0.26
# etc.

# value_counts() 
# use frequency of how many times pune has occured 1200 or in % form.

# -- target-mean encoding
# city       survived
# pune          1 
# ...           0   
# delhi
# bangalore
# ...
# etc.

# link for different technique.
# http://contrib.scikit-learn.org/category_encoders/

In [ ]:
## Conslusion or what you have done for achieving this.

## 5 . Handling Numerical values

In [ ]:
## Whether the data is symmetrical or not.
## Plot histogram and distribution plot.

In [ ]:
## If your data is not skwed and symmetrical apply standard scaler.

In [ ]:
## Confirm the distribution patter by Plot histogram and distribution plot again.

In [ ]:
## If your data is skwed and non-symmetrical apply min-max scaler.

In [ ]:
## Confirm the distribution patter by Plot histogram and distribution plot again.

In [ ]:
## Conslusion or what you have done for achieving this.

# Model Building